[submodule "ci_tools_atomic_dex/vcpkg-repo"]
	path = ci_tools_atomic_dex/vcpkg-repo
	url = https://github.com/microsoft/vcpkg
[submodule "atomic_defi_design/imports/bignumberjs/bignumber.js"]
	path = atomic_defi_design/imports/bignumberjs/bignumber.js
	url = https://github.com/MikeMcl/bignumber.js
